[user]
  name = Roman Kuznetsov
  email = roman@kuznero.com
[core]
  excludesfile = ~/.gitignore
  editor = vim
  autocrlf = input
[alias]
  st = status
  ci = commit
  co = checkout
  l = log --graph --oneline --decorate --all -n 20
  br = branch
  d = diff
  dt = difftool --diff-filter=ACMRTUXB --no-prompt
  dtp = difftool --diff-filter=ACMRTUXB --prompt
  m = merge
  mt = mergetool
  cl = clean -x -d -f --dry-run
  pl = pull --prune --all
  ps = push
[color]
  ui = true
[diff]
  tool = meld
[difftool "meld"]
  cmd = meld $LOCAL $REMOTE
  trustExitCode = true
[merge]
  tool = meld
[mergetool "meld"]
  cmd = meld $BASE $LOCAL $REMOTE $MERGED
  prompt = false
  trustExitCode = true
[push]
  default = simple
