[user]
  name = Roman Kuznetsov
  email = kuznero@gmail.com
[core]
  excludesfile = ~/.gitignore
  editor = vim
  autocrlf = input
[alias]
  st = status
  ci = commit
  co = checkout
  l = log --graph --oneline --decorate --all -n 20
  br = branch
  d = diff
  dt = difftool --diff-filter=ACMRTUXB --prompt
  m = merge
  mt = mergetool
  cl = clean -x -d -f
  pl = pull --prune --all
  ps = push
[color]
  ui = true
[diff]
  tool = bc3
[difftool]
  prompt = false
[merge]
  tool = bc3
[mergetool]
  prompt = false
[push]
  default = simple
[difftool "bc3"]
  trustExitCode = true
[mergetool "bc3"]
  trustExitCode = true
